@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }
}

.btn {
  @apply text-white bg-black rounded-md h-10 px-4 py-2 text-sm;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.text-xxs {
  font-size: 8px;
}

.bg {
  background-image: url("/assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.video_filter {
  filter: grayscale(100%);
}

@keyframes hoverAnimation {
  0% {
    z-index: initial;
  }
  100% {
    z-index: 10;
  }
}

.f_image_1 {
  @apply absolute bottom-0 right-3 w-28 xs:w-36 md:right-6 md:w-60;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.f_image_2 {
  @apply absolute bottom-0 left-3 w-28 xs:w-36 md:left-6 md:w-60;
}

/* Styl pro hover */
.f_image_1:hover {
  animation-name: hoverAnimation;
}

.card_gradient {
  background: #000000;
  background: -webkit-linear-gradient(
    0deg,
    #000000 0%,
    rgba(188, 71, 255, 0) 100%
  );
  background: linear-gradient(0deg, #000000 30%, rgba(188, 71, 255, 0) 100%);
}

.card_bg {
  background: #edde5d;
  background: -webkit-radial-gradient(circle, #edde5d 0%, #f09819 100%);
  background: radial-gradient(circle, #edde5d 0%, #f09819 100%);
}

.fight_gradient {
  background: #afafaf;
  background: -webkit-linear-gradient(0deg, #afafaf 0%, #dfdfdf 100%);
  background: linear-gradient(0deg, #afafaf 0%, #dfdfdf 100%);
}

.sheet {
  clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
}
